@import 'tailwindcss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

:root {
    --accent-light: #7088ff;
    --accent: #4967ff;
    --dark: #5b5d66;
    --light: #fff;
    --bg: #f5f5f5ab;
}

/* common */
a {
    text-decoration: none;
}

/*Login page*/

.login-page {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    min-width: 300px;
    min-height: max-content;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 10px 14px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.login-head {
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 0.5rem;
    font-size: x-large;
}

.login-subtitle {
    font-weight: 300;
    color: var(--dark);
    margin-bottom: 1.5rem;
    font-size: small;
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--dark);
    border-radius: 8px;
    font-size: 1rem;
}

.input-label {
    font-weight: 500;
    color: var(--dark);
    margin-bottom: 0.5rem;
    display: block;
    font-weight: bold;
} 

.login-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--accent);
    color: var(--light);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.error-msg {
    color: rgb(223, 70, 70);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

/* Notfound */
.not-found {
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.not-found a {
    font-weight: 600;
    color: rgb(124, 124, 245);
    margin-top: .5rem;
}

/* Dashboard */
.dashboard {
    background-color: var(--bg);
    max-width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
}

.header, .footer {
    padding: 1rem 3rem;
    width: 95%;
    background-color: var(--light);
    margin: 0 auto;
}

.try-for-free {
    display: inline-block;
    background-color: var(--accent);
    color: var(--light);
    padding: 0.4rem 0.8rem;
    border-radius: 18px;
    font-weight: bold;
}

.logout-btn {
    background: var(--light);
    color: #ff0000;
    border: .8px solid #ff0000;
    padding: 0.3rem 0.8rem;
    font-weight: bold;
    border-radius: 8px;
}

.dashboard-content {
    gap: 2rem;
    padding: 2rem 3rem;
    max-width: 95%;
    margin: 0 auto;
    min-height: calc(100vh - 20rem);
}

.dashboard-content .head, .dashboard-content .subtitle {
    margin: 0;
}

/* dashboard components */
.dashboard-components {
    width: 100%;
    height: 100%;
}

.dashboard-component {
    background-color: var(--light);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(60, 54, 54, 0.233);
}

.card {
    background: rgba(229, 239, 247, 0.276);
    border-radius: 10px;
    padding: 10px;
    border: .6px solid rgba(116, 171, 219, 0.594);
}

.metrics-icon {
    background-color: var(--accent);
    color: var(--light);
    font-size: 1rem;
    padding: 5px;
    border-radius: 7px;
}

.copy-btn, .referral-link {
    padding: 0.4rem 0.6rem;
}

th, td {
    padding: 0.5rem;
}